.Button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 500ms;
  animation-timing-function: cubic-bezier(0, -0.3,0.5,1.3);
  &:hover{
    opacity: 0.88;
  }
  &:active{
    opacity: 0.8;
    transform: scale(0.95);
  }
  &:focus {
    outline: 3px solid #0099FF;
    outline-offset: 2px;
  }
}
.disabled{
  pointer-events: none;
  opacity: 0.36;
}

.primary {
  background: var(--color-primary);
}
.secondary {
  background: var(--color-secondary);
}

.s{
  padding: 6px 10px;
  border-radius: 9px;
}

.m{
  padding: 8px 12px;
  border-radius: 12px;
}

.l{
  padding: 1rem;
  border-radius: 1rem;
}

.shimmer-primary{
  &::before{
    background: linear-gradient(to right, transparent 0%, var(--color-text-primary) 50%, transparent 100%);
  }
}
.shimmer-secondary{
  &::before{
    background: linear-gradient(to right, transparent 0%, var(--color-text-secondary) 50%, transparent 100%);
  }
}

.isLoading {
  pointer-events: none;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 66%;
    animation: load 1000ms linear infinite;
    opacity: 0.12;
  }

  width: 116px;
  & ~ .m {
    width: 138px;
  }

  & ~ .l {
    width: 163px;
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}