.Button{

}

.primary {
  background: var(--color-primary);
}
.secondary {
  background: var(--color-secondary);
}

.s{
  padding: 6px 10px;
  border-radius: 9px;
}

.m{
  padding: 8px 12px;
  border-radius: 12px;
}

.l{
  padding: 1rem;
  border-radius: 1rem;
}