:root {
  // main
  --color-primary: #FF7700;
  --color-secondary: #8366561F;

  --color-bg: white;
  --color-bg-dark: #e2eef1;

  // text
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #2E2F33;
}
