.main {
    color: var(--color-text-main);
}

.main-inverted {
    color: var(--color-text-main-inverted);
}

.brand {
    color: var(--color-text-brand);
}

.secondary {
    color: var(--color-text-secondary);
}

.error {
    color: rgb(198 46 46)
}