@use 'classes/label_size';
@use 'classes/label_color';
@use 'classes/label_align';

.Label{
    font-weight: 500;
}

.lengthLimited{
    overflow: hidden;
    white-space: nowrap;
}

.noWrap{
    white-space: nowrap;
}