.live-indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulseOff{
  overflow: hidden;
  border-radius: 999px;
}

.live-indicator .red-dot, .live-indicator .pulse {
  position: absolute;
  border-radius: 999px;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary {
  background-color: #2FB675;
}

.secondary{
  background-color: #8366561F;
}

.size-8{
  height: 8px;
  width: 8px;
}
.size-12{
  height: 12px;
  width: 12px;
}
.size-16{
  height: 16px;
  width: 16px;
}
.size-20{
  height: 20px;
  width: 20px;
}
.size-24{
  height: 24px;
  width: 24px;
}

.live-indicator .pulse {
  animation-name: red-dot-scale-fade;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.live-indicator .pulse.two {
  animation-delay: 0.25s;
}


@keyframes red-dot-scale-fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(3);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}